.HomePage {
    height: 100%;
    width: 100%;
    text-align: center;
}

.HomePage__wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.HomePage__logo_wrapper {
    height: 30%;
    max-height: 30%;
    margin-top: 3%;
}

.HomePage__logo_wrapper img {
    height: 100%;
    animation: rotation 20s linear infinite;
}

.Homepage__content_wrapper {
    display: flex;
    flex-direction: column;
}

.HomePage__title_wrapper {
    margin: 20px;
}

.HomePage__description_wrapper {
    flex: 1;
}

.Homepage__description_wrapper p img {
    height: 2em;
    vertical-align: middle;
}